/* We will use Roboto font, because I think it looks quite nice :) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Let's define a bunch of universal properties */
:root {
    /* Background colors */
    --bg-primary: #1f1f1f;
    --bg-secondary: #38383d;
    --bg-tertiary: #525257;

    /* Foreground colors */
    --fg-primary: #fff;
    --fg-secondary: #ddd;
    --fg-tertiary: #aaa;

    /* Font sizes */
    --fs-base: 1rem;
    --fs-h1: calc(var(--fs-base) * 2);
    --fs-h2: calc(var(--fs-base) * 1.75);
    --fs-h3: calc(var(--fs-base) * 1.5);
    --fs-h4: calc(var(--fs-base) * 1.25);
    --fs-h5: calc(var(--fs-base) * 1);
    --fs-nav: calc(var(--fs-base) * 1.15);

    /* Hovering transition */
    --tr-hover: all 0.2s ease-in;
}

/* Remove default margins and paddings from the body element */
body {
    /* Body contains three elements: nav, main and footer.
       For alignment reasons let's use grid for now to make footer stick to the bottom */
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    background-color: var(--bg-primary);
}

main {
    width: 100%;
}

/* Text element styles */
span, h1, h2, h3, h4, h5, p, a, b, i, li, label {
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-base);
    color: var(--fg-primary);
}

/** Remove bullets from <li> elements **/
li { list-style-type: none }

/** Heading element font sizes **/
h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }
h4 { font-size: var(--fs-h4) }
h5 { font-size: var(--fs-h5) }

/** Disable anchor tag's decoration and add hover transitions **/
a {
    text-decoration: none;
    transition: var(--tr-hover);
}

a:hover { color: var(--fg-tertiary) }

/* Navbar and footer styling */
/** In principle navbar and footer have basically the same styles 
    with some alignment related differences. I.e. footer is sticky while navbar is not.
    Also footer aligns it's children in the center while navbar doesn't.
 **/
nav, footer {
    padding: 5px 1rem;
    display: flex;
    align-items: center;
    background-color: var(--bg-secondary);
}

/** Navbar specific styling **/
nav { justify-content: space-between; }

/*** Let's make nav-container text slightly bigger ***/
.nav-container > a, .nav-container > span { font-size: var(--fs-nav) }

/*** OnHover animation effect for profile icon ***/
.profile {
    fill: var(--fg-primary);
    transition: var(--tr-hover);
}

.profile:hover { fill: var(--fg-tertiary) }

/** Footer specific styling **/
footer {
    position: sticky;
    bottom: 0;
    justify-content: center;
}

.footer-container { 
    margin: 0 1rem; 
    text-align: center;
}

/* Post container styling */
.post-container {
    width: calc(100% - 2 * 0.75rem);
    max-width: 500px;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--bg-tertiary);
}

.post-container > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.btn-transparent:hover {
    cursor: pointer;
}

.post-img-preview {
    width: 100%;
    height: 300px;
    text-align: center;
}

.post-img-preview img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* Vertical grid container class using flexbox */
.v-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Sidebar class, which just wastes 200px of your screen space */
.sidebar {
    width: 200px;
    height: calc(100% - 1rem);
    margin: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background-color: var(--bg-secondary);
}

/** On mobile devices, don't show sidebars and make post-container width smaller */
@media (max-width: 800px) {
    .post-container { width: 75%; }
    .sidebar { display: none }
}


/* Styling for the text area in addPost */
textarea {
    width: 98%;
    color: white;
    resize: none;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-primary);
}


/* Styling for file upload button */
input[type="file"] {
    display: none;
}


form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75%;
    max-width: 500px;
    margin: auto;
    margin-top: 150px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--bg-tertiary);
}

form > a:hover {
    color: cyan;
    cursor: pointer;
}

form input {
    width: 100%;
    height: 30px;
    border-radius: 0.33rem;
    box-sizing: border-box;
    border: none;
    background-color: var(--bg-primary);
    margin: auto;
    margin-top: 5px;
    color: white;
    text-align: center;
    
}

form .button {
    border: none;
    border-radius: 5px;
    background-color:rgb(29, 29, 243);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

form .button:hover {
    background-color: rgb(2, 2, 128);
    cursor: pointer;
}

.custom-file-upload {
    background-color: var(--bg-primary);
    display: inline-block;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: var(--bg-secondary);
}


